.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}

.sort:hover  {
	color:red;
}	

.table > tbody > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	padding:2px;
}

span.all-medals-bkg {
	background: url("../img/all.png");
	display: inline-block;
	height:10px; 	
}
span.bronze-bkg {
	background-color: #d06a3d;
	display: inline-block;
	height:10px; 	
}
span.silver-bkg {
	background-color: #b9b9b9;
	display: inline-block;
	height:10px; 	
}
span.gold-bkg {
	background-color: #f5a623;
	display: inline-block;
	height:10px; 	
}
span.minheight {
	min-width:17px;
	display: inline-block;
}